#galaxy{
    background-color: #FFC53A;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;}
#title{
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
	text-align: center;}

#life{
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    font-size: large;
}

html, body {
 background-image: url("newgalaxy.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
