#galaxy{
    background-color: #FFC53A;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
	text-align: center;}
#title{
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
	text-align: center;}

#life{
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    font-size: large;
}

body {
    background-image: url("galaxy.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

