<!DOCTYPE html>
    <html>
    <head>
    <title>Galaxy: {{galaxy}}</title>
        <link rel= "stylesheet" type= "text/css" href= "/static/static.css">
    </head>

    <body>

    <form action="/" method="POST">
        <select name="Select_galaxies">
            {% for i in range (label|length) %}
            <option {% if galaxy==label[i]: %} selected {% endif %} value="{{label[i]}}">{{label[i]}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="submit">
        <br>
        <input type="text" name="age" placeholder="Enter your age">
    </form>
    <br>


    <div id="title">
        <b><u>Galaxy {{galaxy}}</u></b>
        </div>

    <br>
    <br>
     <div id="galaxy">
    {% block content %}
    {% endblock %}
        </div>
    </body>
    </html>